@model simple_stock_manager.Models.Supplier

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="SupplierAddress.PublicPlace" class="control-label"></label>
                <input asp-for="SupplierAddress.PublicPlace" class="form-control" />
                <span asp-validation-for="SupplierAddress.PublicPlace" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="SupplierAddress.Number" class="control-label"></label>
                <input asp-for="SupplierAddress.Number" class="form-control" />
                <span asp-validation-for="SupplierAddress.Number" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="SupplierAddress.Complement" class="control-label"></label>
                <input asp-for="SupplierAddress.Complement" class="form-control" />
                <span asp-validation-for="SupplierAddress.Complement" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="SupplierAddress.PostalCode" class="control-label"></label>
                <input asp-for="SupplierAddress.PostalCode" class="form-control" />
                <span asp-validation-for="SupplierAddress.PostalCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="SupplierAddress.Neighborhood" class="control-label"></label>
                <input asp-for="SupplierAddress.Neighborhood" class="form-control" />
                <span asp-validation-for="SupplierAddress.Neighborhood" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="SupplierAddress.City" class="control-label"></label>
                <input asp-for="SupplierAddress.City" class="form-control" />
                <span asp-validation-for="SupplierAddress.City" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="SupplierAddress.State" class="control-label"></label>
                <input asp-for="SupplierAddress.State" class="form-control" />
                <span asp-validation-for="SupplierAddress.State" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
