@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Veja todos os projetos em <a class="text-secondary" href="https://github.com/JoaoLucasXavier">https://github.com/JoaoLucasXavier.</a></p>
</div>
