@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Conheça meus projetos <a href="https://github.com/JoaoLucasXavier">https://github.com/JoaoLucasXavier</a>.</p>
</div>
