@model simple_stock_manager.Models.Customer

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CustomerAddress.PublicPlace" class="control-label"></label>
                <input asp-for="CustomerAddress.PublicPlace" class="form-control" />
                <span asp-validation-for="CustomerAddress.PublicPlace" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CustomerAddress.Number" class="control-label"></label>
                <input asp-for="CustomerAddress.Number" class="form-control" />
                <span asp-validation-for="CustomerAddress.Number" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CustomerAddress.Complement" class="control-label"></label>
                <input asp-for="CustomerAddress.Complement" class="form-control" />
                <span asp-validation-for="CustomerAddress.Complement" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CustomerAddress.PostalCode" class="control-label"></label>
                <input asp-for="CustomerAddress.PostalCode" class="form-control" />
                <span asp-validation-for="CustomerAddress.PostalCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CustomerAddress.Neighborhood" class="control-label"></label>
                <input asp-for="CustomerAddress.Neighborhood" class="form-control" />
                <span asp-validation-for="CustomerAddress.Neighborhood" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CustomerAddress.City" class="control-label"></label>
                <input asp-for="CustomerAddress.City" class="form-control" />
                <span asp-validation-for="CustomerAddress.City" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="CustomerAddress.State" class="control-label"></label>
                <input asp-for="CustomerAddress.State" class="form-control" />
                <span asp-validation-for="CustomerAddress.State" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
