@model simple_stock_manager.Models.Customer

@{
    ViewData["Title"] = "Deletar fornecedor";
}

<h1>Deletar</h1>
<h4>Cliente</h4>
<hr>

<h6 class="alert alert-danger">Você tem certeza que disso?</h6>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <div class="d-inline p-2">
            <button type="" value="Salvar" class="btn btn-danger">
                <i class="fas fa-trash"></i> Deletar
            </button>
        </div>
        <div class="d-inline p-2">
            <a asp-action="Index" class="btn btn-secondary float-right">
                <i class="fas fa-arrow-circle-left"></i> Voltar
            </a>
        </div>
    </form>
</div>
